.list{
    display: flex;
    flex-direction: column;
}

.col-md{
    max-width: fit-content!important;
}

@media (max-width: 846px) {
    .holder{
        display: flex!important;
        flex-direction: column!important;
    }
}