button{
    border: none;
    background-color: white;
    text-decoration: none;
    color: black;
}
a{
    margin-left: 5px;
}

.info-con{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.list-title{
    color: #444e5e;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    margin-top: 10px;
}


.info-list{
    list-style: none;
    margin-left: 20px;
    margin-top: 15px;
}

.info-item-list{
    margin-top: 15px;
}


.info-item{
    list-style: none;
    color: #444e5e;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-item a{
    text-decoration: none;
    color: #616977;
}

.contact-item{
    margin-top: 10px;
    margin-top: 10px;
}

.clicked{
    color: #444E5E;
    font-weight: 800;
}

.not-clicked{
    color: #444e5e9c;
}

.mobileSort{
    position: fixed;
    background-color: white;
    width: 100vw;
    height: fit-content;
    border-bottom: 1px solid gray;
}

.sort-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info ul{
    list-style: none;
}

.contact-info li{
    text-decoration: underline;
}

.col1{
    justify-self: flex-start;
    margin-left: 25px;
}

.col2{
    justify-self: flex-end;
    margin-right: 25px;
}


.btn-container{
    display: flex;
    justify-content: center;
}